{% extends 'pages/base.html' %}

{% load static %}
{% block content %}

<!-- Password Reset Start -->
<section class="contact section-padding" data-scroll-index='6'>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sectioner-header text-center">
                    <h3>Redefinir Senha</h3>
                    <span class="line"></span>
                    <p>Insira seu e-mail abaixo para receber o link de redefinição de senha.</p>
                </div>

                <div class="section-content">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-8">
                            <!-- Formulário com action direcionado à sua URL personalizada -->
                            <form id="password_reset_form" method="post" action="{% url 'password_reset' %}">
                                {% csrf_token %}

                                <div class="row">
                                    <div class="col">
                                        {{ form.email.label_tag }}
                                        <input type="email" class="form-input w-100" 
                                               name="{{ form.email.name }}" 
                                               id="{{ form.email.id_for_label }}" 
                                               placeholder="Digite seu E-mail" required>
                                    </div>
                                </div>

                                <button class="btn-grad w-100 text-uppercase" type="submit" name="button">Enviar Link de Redefinição</button>
                            </form>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-4">
                            <div class="contact-info white">
                                <div class="contact-item media">
                                    <i class="fa fa-info-circle media-left media-right-margin"></i>
                                    <div class="media-body">
                                        <p class="text-uppercase">Lembre-se:</p>
                                        <p class="text-uppercase">Você deve inserir o e-mail que utilizou ao criar sua conta.</p>
                                    </div>
                                </div>
                                <div class="contact-item media">
                                    <i class="fa fa-envelope media-left media-right-margin"></i>
                                    <div class="media-body">
                                        <p class="text-uppercase">Precisa de Ajuda?</p>
                                        <p class="text-uppercase">Entre em contato com o suporte.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Password Reset End -->

{% endblock %}
