{% extends 'pages/base.html' %}
{% load static %}

  {% block content %}

  {% include 'segment/Navbar.html' %}
  {% if mensagem_sucesso %}
  <p class="mensagem-sucesso">{{ mensagem_sucesso }}</p>
{% endif %}

  {% include 'segment/banner.html' %}
  {% include 'segment/about.html' %}
  {% include 'segment/video.html' %}
  {% include 'segment/features.html' %}
  {% include 'segment/team.html' %}
  {% include 'segment/testimonial.html' %}
  {% include 'segment/faq.html' %}
  {% include 'segment/contact.html' %}

  {% include 'segment/Footer.html' %}
  
  {% endblock %}
