{% load static %}

<!--Banner Start-->
<section class="banner" data-scroll-index='0'>
    <div class="banner-overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <div class="banner-text">
              <h2 class="white">Verde Fresco</h2>
              <h6 class="white">Descubra um mundo saudável, direto da feira ou mercado mais próximo, com o Verde Fresco! Nosso aplicativo conecta você com os melhores vegetais, legumes e verduras da sua região, tudo fresquinho e cheio de sabor.</h6>
              <p class="banner-text white">Imagine ter uma lista pronta, cheia de opções saudáveis, onde você pode escolher os ingredientes perfeitos para suas receitas favoritas e ainda aprender novas maneiras deliciosas de prepará-los!</p>
              <ul>
                <li><a href="#"><img src="{% static 'images/appstore.png' %}" class="wow fadeInUp" data-wow-delay="0.4s"/></a></li>
                <li><a href="#"><img src="{% static 'images/playstore.png' %}" class="wow fadeInUp" data-wow-delay="0.7s"/></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-12"> <img src="{% static 'images/iphone-screen.png' %}" class="img-fluid wow fadeInUp"/> </div>
        </div>
      </div>
    </div>
  </section>
  <!--Banner End--> 
  