{% load static %}

<!--Download Start-->
<section class="download section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="sectioner-header text-center white">
            <h3>Baixe Nosso App</h3>
            <span class="line"></span>
            <p class="white">Tenha acesso a todos os recursos do Verde Fresco na palma da sua mão. Baixe nosso aplicativo e facilite sua compra de vegetais frescos e saudáveis!</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="section-content text-center">
            <ul>
              <li><a href="#"><img src="{% static 'images/appstore.png' %}" class="wow fadeInUp" data-wow-delay="0.4s" alt="Baixar na App Store"/></a></li>
              <li><a href="#"><img src="{% static 'images/playstore.png' %}" class="wow fadeInUp" data-wow-delay="0.7s" alt="Baixar no Google Play"/></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!--Download End-->
  