{% load static %}

<!--FAQ Start-->
<section class="faq section-padding prelative" data-scroll-index='5'>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="sectioner-header text-center">
            <h3>Perguntas Frequentes (FAQ)</h3>
            <span class="line"></span>
            <p>Sed quis nisi nisi. Proin consectetur porttitor dui sit amet viverra. Fusce sit amet lorem faucibus, vestibulum ante in, pharetra ante.</p>
          </div>
          <div class="section-content">
            <div class="row">
              <div class="col-md-6 faq-content wow fadeInUp" data-wow-delay="0.2s">
                <h4>O que é o Verde Fresco? </h4>
                <p>O Verde Fresco é um aplicativo que conecta você aos melhores vegetais frescos, oferecendo uma lista de itens, receitas, e uma entrega direta da feira ou mercado mais próximo.</p>
              </div>
              <div class="col-md-6 faq-content wow fadeInUp" data-wow-delay="0.2s">
                <h4>Como faço um pedido?</h4>
                <p>Escolha os vegetais desejados na lista, adicione ao carrinho e faça o pedido com alguns toques. O app localiza o mercado ou feira mais próxima para entrega rápida.</p>
              </div>
              <div class="col-md-6 faq-content wow fadeInUp" data-wow-delay="0.4s">
                <h4>Como são feitas as entregas?</h4>
                <p>As entregas são realizadas por entregadores parceiros dos estabelecimentos, garantindo frescor e qualidade no seu pedido.</p>
              </div>
              <div class="col-md-6 faq-content wow fadeInUp" data-wow-delay="0.4s">
                <h4>Posso ver informações sobre os vegetais? </h4>
                <p>Sim! Cada vegetal possui informações nutricionais, imagens e dicas de preparo para ajudar na sua escolha.</p>
              </div>
              <div class="col-md-6 faq-content wow fadeInUp" data-wow-delay="0.6s">
                <h4>Quais tipos de receitas estão disponíveis? </h4>
                <p>Oferecemos uma variedade de receitas saudáveis e práticas, adaptadas aos vegetais disponíveis no app.</p>
              </div>
              <div class="col-md-6 faq-content wow fadeInUp" data-wow-delay="0.6s">
                <h4>O app está disponível em todas as regiões?</h4>
                <p>Atualmente, o Verde Fresco está disponível em áreas específicas. Verifique a cobertura na sua região ao baixar o app.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--FAQ End--> 
  