{% load static %}

<!--Features Start-->
<section class="feature section-padding" data-scroll-index='2'>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="sectioner-header text-center">
            <h3>Features</h3>
            <span class="line"></span>
            <p>Funcionalidades do Verde Fresco</p>
          </div>
          <div class="section-content text-center">
            <div class="row">
              <div class="col-md-4 col-sm-12">
                <div class="media single-feature wow fadeInUp" data-wow-delay="0.2s">
                  <div class="media-body text-right media-right-margin">
                    <h5>Lista de Vegetais Frescos</h5>
                    <p>Explore uma seleção de verduras, legumes e vegetais fresquinhos, com imagens e informações nutricionais.</p>
                  </div>
                  <div class="media-right icon-border"> <span class="fa fa-bolt" aria-hidden="true"></span> </div>
                </div>
                <div class="media single-feature wow fadeInUp" data-wow-delay="0.4s">
                  <div class="media-body text-right media-right-margin">
                    <h5>Receitas Saudáveis</h5>
                    <p>Aprenda receitas deliciosas e práticas com os vegetais disponíveis no app.</p>
                  </div>
                  <div class="media-right icon-border"> <span class="fa fa-battery-full" aria-hidden="true"></span> </div>
                </div>
                <div class="media single-feature wow fadeInUp" data-wow-delay="0.6s">
                  <div class="media-body text-right media-right-margin">
                    <h5>Pedidos Simples</h5>
                    <p>Faça seu pedido rapidamente do mercado ou feira mais próxima com apenas alguns toques.</p>
                  </div>
                  <div class="media-right icon-border"> <span class="fa fa-wifi" aria-hidden="true"></span> </div>
                </div>
              </div>
              <div class="col-md-4 d-none d-md-block d-lg-block">
                <div class="feature-mobile"> <img src="{% static 'images/iphone-screen-with-shadow.png' %}" class="img-fluid wow fadeInUp"/> </div>
              </div>
              <div class="col-md-4 col-sm-12">
                <div class="media single-feature wow fadeInUp" data-wow-delay="0.2s">
                  <div class="media-left icon-border media-right-margin"> <span class="fa fa-check-double" aria-hidden="true"></span> </div>
                  <div class="media-body text-left">
                    <h5>Entrega Direta</h5>
                    <p>Entregadores parceiros do estabelecimento garantem rapidez e frescor.</p>
                  </div>
                </div>
                <div class="media single-feature wow fadeInUp" data-wow-delay="0.4s">
                  <div class="media-left icon-border media-right-margin"> <span class="fa fa-dollar-sign" aria-hidden="true"></span> </div>
                  <div class="media-body text-left">
                    <h5>Favoritos</h5>
                    <p>Marque seus produtos e receitas preferidas para acesso rápido.</p>
                  </div>
                </div>
                <div class="media single-feature wow fadeInUp" data-wow-delay="0.6s">
                  <div class="media-left icon-border media-right-margin"> <span class="fa fa-hdd" aria-hidden="true"></span> </div>
                  <div class="media-body text-left">
                    <h5>Saúde na Mão</h5>
                    <p>Tenha acesso a dicas de preparo e benefícios de cada vegetal para uma alimentação mais nutritiva.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Features End--> 
  