{% load static %}

<!--Navbar Start-->
<nav class="navbar navbar-expand-lg">
  <div class="container"> <a class="navbar-brand navbar-logo" href="#"> <img src="{% static 'images/logo.png' %}" alt="logo" class="logo-1"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="fas fa-bars"></span> </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"> <a class="nav-link" href="#" data-scroll-nav="0">Inicio</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#" data-scroll-nav="1">Sobre</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#" data-scroll-nav="2">Características</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#" data-scroll-nav="3">Time</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#" data-scroll-nav="4">Testemunhos</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#" data-scroll-nav="5">Perguntas frequentes</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#" data-scroll-nav="6">Contato</a> </li>
      </ul>
    </div>
  </div>
</nav>
<!--Navbar End--> 
